html
{
	background-color: #d6edfc;
}
#pageHead /*logo + nav + donate + search*/
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 12.5em;
	background-color: white;	
	opacity: 0%;
	z-index: 1; 	/*stack order - bring to front*/
}
#primary_nav_wrap
{
	width: 100%;	
	margin: 6.25em auto 0 220px; /*center nav bar*/		
	text-align: center;	/*center nav bar*/
		position: relative;
}
#primary_nav_wrap ul
{		
	width: 80%;
	float: left;	
	margin:0 auto;	
	position:relative;	
}

#primary_nav_wrap ul a
{	
	color:#FFFFFF;
	text-decoration:none; /*remove underline of links*/
	font-weight:700;
	font-size:1em;
	line-height:2.5em; 	/*the amount of space above and below inline elements*/	
	padding:0 1.25em;	/*padding between nav elements*/
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	
	display: inline-block;
	text-align: center;
	width: 7.5em;	
}

#primary_nav_wrap ul li
{		
	display: block;		
	margin: .2em;
	padding:0 0.625em;
	border: 0.063em, solid;
	border-radius: 1.25em;	
	float: left;
	position:relative;
}

#primary_nav_wrap ul li.current-menu-item 
{
	background:#00AAFF /*background color of nav items*/	
}

#primary_nav_wrap ul li:hover
{
	background: red;
	border: 0.063em, solid;
	border-radius: 0.625em;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;	
	left:0;	
	padding:0
}

#primary_nav_wrap ul ul a
{
	line-height:100%;	
	height: 2em;
	width: 7.75em;	
	text-align: center;
	margin: .9em 0 -.2em 0;
}

#primary_nav_wrap ul li:hover > ul
{
	display: block;
}
#logo
{
	position: absolute;
	top: 0;
	left: 0;
	height: 12.5em;
	width: 15.625em;
	float: left;
}
#Donate /*donate button above nav*/
{
	position: absolute;
	top: 0;	
	right:1.875em;		
}

#Donate nav button
{	
	background-color: red;	
	border-color: red;
	border: 0.063em, solid;
	border-radius: 0.625em;	
	list-style:none;	
}
#Donate nav button a 
{	
	text-decoration:none;
	color: white;
	font-weight:700;
	font-size: 3.75em;	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#search
{
	position: absolute;	
	top: 1.875em;
	right: 18.75em;	
	font-weight:700;
	font-size:.75em;		
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#container
{
	position: relative;	
	top: 12.5em;
	background-color: #d6edfc;
	margin: 0;
	bottom: 0;
}
#pic1, img.pic2 /*scale image to fit*/
{
	object-fit: cover;
	width: 100%;
	height: 50%;
	margin: -1em auto;	
}
h1
{
	color: #00AAFF;
	text-align:center;
	border-bottom: .1em solid currentColor;
	border-top: .1em solid currentColor;
	width: 12em;
	margin: 2em auto;
	z-index: 2;
}
h1 a
{
	text-decoration:none;
	color: #00AAFF;
}

#howYouCanHelp button
{	
	width: 12.5em;
	height: 12.5em;	
	margin-bottom: 3.125em;
}

#donateB, #volunteerB, #organiseB, #attendB
{
	background-size: 12.5em 12.5em;
	width: 12.5em;
	height: 12.5em;	
} 
#donateB
{
	background-image: url("././images/donateImage.jpg");		
}

#volunteerB
{
	background-image: url("././images/volunteerImage.jpg");		
}

#organiseB
{
	background-image: url("././images/organiseImage.jpg");
}

#attendB
{
	background-image: url("././images/attendImage.jpg");
}

#donateB a, #volunteerB a, #organiseB a, #attendB a
{
	text-decoration: none;
	text-shadow: -.05em 0 #00AAFF, 0 .05em #00AAFF, .05em 0 #00AAFF, 0 -.05em #00AAFF; /*text shadow to place boder on text*/
	font-weight:700;	
	font-size:2.5em;	
	color: white;	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;	
}

footer
{
	position: relative;
	top: 12.5em;
	background-color: #595959;
	margin: -6.25em auto;
	background-color: #00AAFF;	
}

footer div#footerWrap
{	
	position: relative;
	text-align: center;
	margin: 0.625em auto 0 auto;
	
	
	
}
#Info, #AboutUs, #WhatsHappening, #DonateAndSocial
{
	width:25%;
	text-align: center;
	position: absolute;
	
}
footer 
{
	margin: -1em;
	height: 9em;	
}
footer div#Info
{	
	left:0%;
}
footer div#AboutUs
{	
	left:25%;
}
footer div#WhatsHappening
{	
	left:50%;
}
footer div#DonateAndSocial
{	
	left:75%;	
}

footer div#Info ul a, #AboutUs ul a, #WhatsHappening ul a, #DonateAndSocial ul a
{	position: relative;	
	width: 100%;	
	text-align: center;
	text-decoration: none;	
	font-weight:300;	
	font-size:1em;		
	color: white;	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.5em;	
	
}
h3
{
	position: relative;
	margin: 0 auto;
	padding-left: 1.25em;
	text-align: center;
	width: 100%;
	
}
#DonateAndSocial button
{
	
	position: relative;	
	margin: 0 auto;
	right: auto;
	top: -0.625em;
	left:auto;	
	background-color: red;	
	border-color: red;
	border: 0.063em, solid;
	border-radius: 0.625em;	
	list-style:none;
}
#DonateAndSocial button a
{
	text-decoration:none;
	color: white;
	font-weight:700;
	font-size: 1.9em;	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.socialImg
{
	position: relative;
	top: -1.9em;
	padding: 0.6em;
	
}
#container table
{
	height: 50%;
	width: 80%;
	margin: 0 auto;	
	text-align: left;
	
}
.contactTWidth
{
	width: 8.75em;
}

.donatePage
{
	float: right;
	margin: 0 auto ;
}
#donatePage
{
	position: relative;
	margin: 0 auto;
	width: 40%;
}
#donatePage p 
{
		
	font-weight:400;
	font-size: 1em;	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
div #whatWeDo table
{
	width: 25%;
}
#donateB2, #volunteerB2, #organiseB2, #attendB2
{
	background-size: 12.5em 12.5em;
	width: 12.5em;
	height: 12.5em;		
} 
#donateB2
{
	background-image: url("././Images/childProtection.jpg");	
	
}

#volunteerB2
{
	background-image: url("././Images/children_studying.jpg");		
}

#organiseB2
{
	background-image: url("././Images/Help Others.jpg");
}

#attendB2
{
	background-image: url("././images/water.jpg");
}

#donateB2 a, #volunteerB2 a, #organiseB2 a, #attendB2 a
{
	text-decoration: none;
	text-shadow: -.05em 0 #00AAFF, 0 .05em #00AAFF, .05em 0 #00AAFF, 0 -.05em #00AAFF; /*text shadow to place boder on text*/
	font-weight:700;	
	font-size:2.3em;	
	color: white;	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;	
}
#ProtectionPage p 
{
	text-align: left;
	width: 80%;
	font-weight:700;	
	font-size:1em;		
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2
{
	font-style: italic;
	font-weight: bold;
}
.mySlides 
{
	display:none;
	object-fit: cover;
	width: 100%;
	height: 80%;
	position: absolute;		
	margin: 0 auto;
}
.sliderImages
{
	
	width: 100%;
	height: 80%;
	position: relative;
	margin: 0 auto -10em auto;
	position: relative;	
}
.sliderImages p 
{
	position: absolute;
	bottom: 20%;
	left: 0;
	color: white;	
	text-align: left;
	font-weight:700;	
	font-size:2em;		
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #00AAFF;
	padding: 10px 100px;
}


#DonateToday 
{	
	background-color: red;	
	border-color: red;
	border: 0.063em, solid;
	border-radius: 0.625em;	
	list-style:none;	
	margin: -1em auto 4em auto;
}
#DonateToday   a 
{	
	text-decoration:none;
	color: white;
	font-weight:700;
	font-size: 3.75em;	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#AboutUsTable tr td 
{
	text-align: left;
	width: 80%;
	font-weight:700;	
	font-size:1em;		
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#mainImg
{
	height: 30em;		
}
.gallery
{	
	height: 10em;
	width:10em;
	margin: 1em;
}
#GalleryContainer
{
	display: inline-block;
	position: relative;
	margin: 0 auto ;
	
}
#GalleryContainer img
{
	
	position: relative;
	margin: 0 auto ;
	
}
#GalleryContainer p
{
	position: absolute;
	bottom: 5%;
	margin: 0 auto;
	color: white;	
	text-align: left;
	font-weight:700;	
	font-size:2em;		
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #00AAFF;
	padding: 10px 100px;
}
#mainImg
{
	object-fit: fill;	
	height: 30em;
	
}
#thumbs
{
	position: relative;
	margin: 1em;
}
.socialImg img
{
	width: 1.75em;
	height: 1.75em;
}
.socialImg img
{
	width: 1.75em;
	height: 1.75em;
}
#events
{
	margin: 0 auto;	
	border-collapse: collapse;
	padding: 1em;
	position: relative;
	bottom: 2em;
	border-color: 00AAFF;
	
}
#events th
{	
	border: .2em solid #00AAFF;	
	text-align: center;		
	padding: 1em;
	background-color: #d6d7d8;
	color: #00AAFF;	
	height: 2em;
}
#events tr
{	
	
	border-color: 00AAFF;
	text-align: center;		
	padding: 1em;
}
#events tr td
{
	font-weight:500;	
	font-size:1em;		
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;	
	padding: .1em;
	border: .2em solid #00AAFF;
	text-align: center;	
	
	
}